@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Nunito Sans', system-ui, sans-serif;
  }

  li,
  i,
  p,
  button {
    line-height: theme(lineHeight.6);
  }

  p {
    padding-bottom: theme(spacing.4);
  }

  @media screen(md) {
    li,
    i,
    p,
    button {
      line-height: theme(lineHeight.7);
    }
  }

  span {
    color: inherit;
    font-size: inherit;
  }

  i {
    color: inherit;
  }

  a:not(.active):not(.title):not(.no-default):hover {
    text-decoration-line: underline;
    color: theme(colors.blue.800);
    transition-duration: theme(transitionDuration.300);
  }

  a:hover svg {
    transition-duration: theme(transitionDuration.300);
    fill: theme(colors.blue.800);
  }

  html.dark a:not(.active):not(.title):not(.no-default):hover,
  html.dark {
    color: theme(colors.blue.300);
  }

  html.dark a:hover svg {
    fill: theme(colors.blue.300);
  }

  .preloader > svg {
    stroke: theme(colors.fuchsia.700);
  }

  .dark .preloader > svg {
    stroke: theme(colors.fuchsia.400);
  }
}

@layer utilities {
  .bg-gradient-light {
    background: linear-gradient(25deg, #e3d7f9 33%, #e3d7f900 66%),
      linear-gradient(-135deg, #b9afff 10%, #c5ceff 90%);
    background-attachment: fixed;
  }

  .bg-gradient-dark {
    background: linear-gradient(25deg, #110627 33%, #11062700 66%),
      linear-gradient(-135deg, #491616 10%, #00137a 90%);
    background-attachment: fixed;
  }

  .animate-fade-in {
    transition: all 1000ms ease-out;
    opacity: 0;
    transform: translateY(50%);
  }

  .mounted .animate-fade-in {
    opacity: 1;
    transform: translateY(0);
  }
}
