@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap");

@layer base {
  html {
    font-family: "Nunito Sans", sans-serif;
    scroll-behavior: smooth;
  }
}

@layer components {
  html {
    @apply bg-primary;
  }

  * {
    @apply text-white;
  }

  li,
  i,
  p {
    @apply text-base md:text-lg;
  }

  .p {
    @apply pb-6;
  }

  a:hover:not(.active):not(.title),
  .btn:hover {
    @apply underline opacity-80;
  }

  .container {
    @apply mx-auto max-w-screen-sm px-4 py-8 xs:px-12 md:max-w-screen-2xl md:px-16 lg:px-20 xl:px-24 xl:py-16;
  }

  .bg {
    background: linear-gradient(180deg, rgba(13, 17, 41, 0) 60%, #0d1129 100%),
      linear-gradient(60deg, #110627 33%, rgba(17, 6, 39, 0) 66%),
      linear-gradient(210deg, #491616 20%, #00137a 80%);
  }

  .btn {
    @apply flex items-center gap-1 font-semibold transition duration-300 ease-in-out hover:underline;
  }

  .link-w-icon {
    @apply flex cursor-pointer items-center gap-2 hover:opacity-80;
  }

  .link-w-icon:hover > p {
    @apply underline;
  }

  .text-highlight {
    @apply bg-gradient-to-tr from-fuchsia-300 to-indigo-300 bg-clip-text text-transparent;
  }

  .text-muted {
    @apply text-gray-400;
  }

  .preloader > span {
    @apply bg-gradient-to-tr from-fuchsia-300 to-indigo-300;
  }

  h2,
  .h2 {
    @apply text-3xl sm:text-4xl lg:text-5xl;
  }

  h3,
  .h3 {
    @apply text-2xl sm:text-3xl lg:text-4xl;
  }
}

span {
  font-size: inherit;
}
