@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap");

@layer base {
  html {
    font-family: "Nunito Sans", system-ui, sans-serif;
    scroll-behavior: smooth;
  }

  body {
    background: theme(colors.slate.200);
    color: theme(colors.slate.800);
  }

  .dark body {
    background: theme(colors.slate.900);
    color: theme(colors.white);
  }

  li,
  i,
  p,
  button {
    font-size: theme(fontSize.base);
    line-height: theme(lineHeight.6);
  }

  p {
    padding-bottom: theme(spacing.6);
  }

  @media screen(md) {
    li,
    i,
    p,
    button {
      font-size: theme(fontSize.lg);
      line-height: theme(lineHeight.7);
    }

    p {
      padding-bottom: theme(spacing.8);
    }
  }

  span {
    color: inherit;
    font-size: inherit;
  }

  i {
    color: inherit;
  }

  a:not(.active):not(.title):hover,
  button:hover {
    text-decoration-line: underline;
    color: theme(colors.blue.800);
    transition-duration: theme(transitionDuration.300);
  }

  a:hover svg {
    transition-duration: theme(transitionDuration.300);
    fill: theme(colors.blue.800);
  }

  html.dark a:not(.active):not(.title):hover,
  html.dark button:hover {
    color: theme(colors.blue.200) !important;
  }

  html.dark a:hover svg {
    fill: theme(colors.blue.200) !important;
  }

  .container {
    padding-top: theme(spacing.8);
    padding-bottom: theme(spacing.8);
  }

  @media screen(sm) {
    .container {
      padding-top: theme(spacing.12);
      padding-bottom: theme(spacing.12);
    }
  }

  @media screen(xl) {
    .container {
      padding-top: theme(spacing.16);
      padding-bottom: theme(spacing.16);
    }
  }

  .tags li:not(:last-of-type) {
    margin-right: theme(spacing.4);
  }

  .preloader > svg {
    stroke: theme(colors.fuchsia.700);
  }

  .dark .preloader > svg {
    stroke: theme(colors.fuchsia.400);
  }
}

@layer utilities {
  .bg-gradient-light {
    background: linear-gradient(180deg, rgba(226, 232, 240, 0) 60%, theme(colors.slate.200) 100%),
      linear-gradient(60deg, #cdd4f7 33%, rgba(175, 189, 255, 0) 66%),
      linear-gradient(210deg, #d9a0db 20%, #d1d1d1 80%);
  }

  .bg-gradient-dark {
    background: linear-gradient(180deg, rgba(15, 23, 42, 0) 60%, theme(colors.slate.900) 100%),
      linear-gradient(60deg, #110627 33%, rgba(17, 6, 39, 0) 66%),
      linear-gradient(210deg, #491616 20%, #00137a 80%);
  }
}
